* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

// CONSTS
$font-stack: TT Norms;
$orange-color: #e6540a;
$orange-hover: #e6540a;
$orange-press: #d14e0c;
$bg-color: #2b2b2b;
$grey-color: #efefef;

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }

.hidden {
  display: none !important;
}
.btn-active {
  background-color: $orange-press !important;
}

html,
body {
  height: 100%;
}

body {
  font: 100% $font-stack, sans-serif;
  display: flex;
  flex-direction: column;
  #content {
    flex: 1 0 auto;
  }
}
.container {
  max-width: 1380px;
  margin: 0px auto;
  @media (max-width: 1450px) {
    max-width: 1200px;
  }
  @media (max-width: 1280px) {
    max-width: 100%;
    padding: 0px 25px;
  }
  @media (max-width: 400px) {
    max-width: 100%;
    padding: 0px 15px;
  }
}

// BTN
.g-btn {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: 0.1s;
  span {
    color: white;
  }
  &:hover {
    background-color: $orange-hover;
    cursor: pointer;
  }
  &:active {
    background-color: $orange-press;
  }
}