@font-face {
  font-family: 'FuturaPT';
  src: url("fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
}

/* always display scrollbars */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

body {
  font: 100% TT Norms;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

.g-btn {
  background-color: #e6540a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #da500c;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

@-webkit-keyframes imgAnimation {
  from {
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes imgAnimation {
  from {
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#done-works {
  background-color: #2b2b2b;
}

#done-works #done-works-maintext {
  padding-top: 50px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

#done-works #done-works-maintext .done-works-maintext-name {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

#done-works #done-works-maintext #done-btns {
  display: inline-block;
  text-align: right;
}

#done-works #done-works-maintext #done-btns div {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 20px;
  background-color: #000;
}

#done-works #done-works-maintext #done-btns div span {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

#done-works #done-works-maintext #done-btns div:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#done-works #done-works-maintext #done-btns div:active {
  background-color: #e6540a;
}

#done-works #done-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#done-works #done-grid .done-left-top {
  background-color: #e6540a;
  height: 483px;
  width: 100%;
}

#done-works #done-grid .done-left-top .done-left-top-img {
  overflow: hidden;
  width: 100%;
  height: 326px;
}

#done-works #done-grid .done-left-top .done-left-top-img img {
  min-height: 326px;
  overflow: hidden;
  width: 100%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: imgAnimation;
          animation-name: imgAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#done-works #done-grid .done-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

#done-works #done-grid .done-right-top .done-slide {
  height: 326px;
  width: 100%;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden {
  display: inline-block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-top-slide-site {
  text-align: right;
  margin-right: 60px;
  margin-top: 25px;
  margin-bottom: 110px;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-top-slide-name {
  margin-bottom: 40px;
  padding-left: 21px;
  max-width: 220px;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 500;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-more span {
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

#done-works #done-grid .done-right-top .done-slide:hover .slide-hidden {
  visibility: visible;
  opacity: 1;
  background-color: #e6530ad5;
}

#done-works #done-grid .done-bot {
  grid-column: span 2;
  margin-top: -110px;
}

#done-works #done-grid .done-bot .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#done-works #done-grid .done-bot .container .done-bot-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px auto;
      grid-template-columns: 450px auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#done-works #done-grid .done-bot .container .done-bot-left p {
  grid-row: span 2;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 30px;
  font-weight: 500;
  max-width: 400px;
}

#done-works #done-grid .done-bot .container .done-bot-left span {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
}

#done-works #done-grid .done-bot .container .done-bot-left span:hover {
  cursor: pointer;
  color: #efefef;
}

#done-works #done-grid .done-bot .container .done-bot-left .done-left-more {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#done-works #done-grid .done-bot .container .done-bot-left .done-left-more span {
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

#done-works #done-grid .done-bot .container .done-bot-right span {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 30px;
  font-weight: 800;
}

#done-works #done-grid .done-bot .container .done-bot-right span:hover {
  cursor: pointer;
  color: #e6540a;
}
/*# sourceMappingURL=done.css.map */