* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
}

/* always display scrollbars */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.btn-active {
  background-color: #d14e0c !important;
}

body {
  font: 100% TT Norms, sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 5px;
  }
}

.g-btn {
  background-color: #e6540a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #da500c;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

@-webkit-keyframes imgAnimation {
  from {
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes imgAnimation {
  from {
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#done-works {
  overflow: hidden;
  background-color: #2b2b2b;
}

#done-works #done-works-maintext {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 950px) {
  #done-works #done-works-maintext {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

#done-works #done-works-maintext .done-works-maintext-name {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 950px) {
  #done-works #done-works-maintext .done-works-maintext-name {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  #done-works #done-works-maintext .done-works-maintext-name {
    font-size: 18px;
  }
}

#done-works #done-works-maintext #done-btns {
  display: inline-block;
  text-align: right;
}

@media (max-width: 1230px) {
  #done-works #done-works-maintext #done-btns {
    display: none;
  }
}

#done-works #done-works-maintext #done-btns div {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 20px;
  background-color: #000;
}

#done-works #done-works-maintext #done-btns div span {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

#done-works #done-works-maintext #done-btns div:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#done-works #done-works-maintext #done-btns div:active {
  background-color: #e6540a;
}

#done-works #done-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

@media (max-width: 1230px) {
  #done-works #done-grid {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

#done-works #done-grid .done-left-top {
  background-color: #e6540a;
  height: 483px;
  width: 100%;
  background-size: cover;
}

@media (max-width: 1230px) {
  #done-works #done-grid .done-left-top {
    display: none;
  }
}

#done-works #done-grid .done-left-top .done-left-top-img {
  overflow: hidden;
  height: 326px;
}

#done-works #done-grid .done-left-top .done-left-top-img img {
  height: 326px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: imgAnimation;
          animation-name: imgAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#done-works #done-grid .done-right-top {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

@media (max-width: 1230px) {
  #done-works #done-grid .done-right-top {
    margin: 0px auto;
  }
}

@media (max-width: 550px) {
  #done-works #done-grid .done-right-top .done-mobile-hide {
    display: none;
  }
}

#done-works #done-grid .done-right-top .done-slide {
  height: 326px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden {
  display: inline-block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-top-slide-site {
  text-align: right;
  margin-right: 60px;
  margin-top: 25px;
  margin-bottom: 110px;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1380px) {
  #done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-top-slide-site {
    margin-bottom: 90px;
  }
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-top-slide-name {
  margin-bottom: 40px;
  padding: 0px 21px;
  max-width: 220px;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 500;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#done-works #done-grid .done-right-top .done-slide .slide-hidden .done-right-more span {
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

#done-works #done-grid .done-right-top .done-slide:hover .slide-hidden {
  visibility: visible;
  opacity: 1;
  background-color: #e6530ad5;
}

#done-works #done-grid .done-bot {
  grid-column: span 2;
  margin-top: -110px;
}

@media (max-width: 1230px) {
  #done-works #done-grid .done-bot {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#done-works #done-grid .done-bot .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#done-works #done-grid .done-bot .container .done-bot-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px auto;
      grid-template-columns: 450px auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1450px) {
  #done-works #done-grid .done-bot .container .done-bot-left {
    -ms-grid-columns: 400px auto;
        grid-template-columns: 400px auto;
  }
}

@media (max-width: 1230px) {
  #done-works #done-grid .done-bot .container .done-bot-left {
    display: none;
  }
}

#done-works #done-grid .done-bot .container .done-bot-left p {
  grid-row: span 2;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 30px;
  font-weight: 500;
  max-width: 400px;
}

#done-works #done-grid .done-bot .container .done-bot-left span {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
}

#done-works #done-grid .done-bot .container .done-bot-left span:hover {
  cursor: pointer;
  color: #efefef;
}

#done-works #done-grid .done-bot .container .done-bot-left .done-left-more {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#done-works #done-grid .done-bot .container .done-bot-left .done-left-more span {
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

#done-works #done-grid .done-bot .container .done-bot-left .done-left-more:hover {
  cursor: pointer;
}

#done-works #done-grid .done-bot .container .done-bot-left .done-left-more:hover span {
  color: #efefef;
}

#done-works #done-grid .done-bot .container .done-bot-right span {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 30px;
  font-weight: 800;
}

#done-works #done-grid .done-bot .container .done-bot-right span:hover {
  cursor: pointer;
  color: #e6540a;
}

@media (max-width: 950px) {
  #done-works #done-grid .done-bot .container .done-bot-right span:hover {
    color: white;
  }
}

@media (max-width: 950px) {
  #done-works #done-grid .done-bot .container .done-bot-right span {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (max-width: 400px) {
  #done-works #done-grid .done-bot .container .done-bot-right span {
    font-size: 14px;
  }
}

@media (max-width: 1230px) {
  #done-works #done-grid .done-bot .container .done-bot-right {
    margin: 0px auto;
  }
}

@media (max-width: 950px) {
  #done-works #done-grid .done-bot .container .done-bot-right {
    background-color: #e6540a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 10px 25px;
    border-radius: 25px;
  }
  #done-works #done-grid .done-bot .container .done-bot-right:hover {
    background-color: #da500c;
    cursor: pointer;
  }
  #done-works #done-grid .done-bot .container .done-bot-right:active {
    background-color: #d14e0c;
  }
}
/*# sourceMappingURL=done.css.map */