@import "_fonts.scss";
@import "_init.scss";

@keyframes imgAnimation {
  from {
  }

  to {
    transform: scale(1.1);
  }
}

#done-works {
  overflow: hidden;
  background-color: $bg-color;
  #done-works-maintext {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    @media (max-width: 950px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .done-works-maintext-name {
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
      text-align: left;
      text-transform: uppercase;
      @media (max-width: 950px) {
        font-size: 24px;
      }
      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
    #done-btns {
      @media (max-width: 1230px) {
        display: none;
      }
      display: inline-block;
      text-align: right;
      div {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 20px;
        margin-left: 20px;
        background-color: #000;
        span {
          color: #ffffff;
          font-family: "TT Norms";
          font-size: 14px;
          font-weight: 400;
          text-align: center;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
        &:active {
          background-color: $orange-color;
        }
      }
    }
  }
  #done-grid {
    @media (max-width: 1230px) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      column-gap: 0px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 15px;
    .done-left-top {
      @media (max-width: 1230px) {
        display: none;
      }
      background-color: $orange-color;
      height: 483px;
      width: 100%;
      background-size: cover;
      .done-left-top-img {
        overflow: hidden;
        height: 326px;
        img {
          height: 326px;
          transform: scale(1);
          animation-duration: 3s;
          animation-name: imgAnimation;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
    }
    .done-right-top {
      overflow: hidden;
      display: flex;
      justify-content: stretch;
      @media (max-width: 1230px) {
        margin: 0px auto;
      }
      .done-mobile-hide {
        @media (max-width: 550px) {
          display: none;
        }
      }
      .done-slide {
        height: 326px;
        width: 100%; 
        background-position: center center;
        background-repeat: no-repeat;
        .slide-hidden {
          display: inline-block;
          visibility: hidden;
          width: 100%;
          height: 100%;
          transition: 0.3s;
          opacity: 0;
          .done-right-top-slide-site {
            text-align: right;
            margin-right: 60px;
            margin-top: 25px;
            margin-bottom: 110px;
            color: #ffffff;
            font-family: "TT Norms";
            font-size: 14px;
            font-weight: 400;
            @media (max-width: 1380px) {
              margin-bottom: 90px;
            }
          }
          .done-right-top-slide-name {
            margin-bottom: 40px;
            padding: 0px 21px;
            max-width: 220px;
            color: #ffffff;
            font-family: "TT Norms";
            font-size: 24px;
            font-weight: 500;
          }
          .done-right-more {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              margin-right: 15px;
              align-self: center;
              color: #ffffff;
              font-family: "TT Norms";
              font-size: 16px;
              font-weight: 800;
              text-transform: uppercase;
            }
          }
        }
        &:hover {
          .slide-hidden {
            visibility: visible;
            opacity: 1;
            background-color: #e6530ad5;
          }
        }
      }
    }
    .done-bot {
      grid-column: span 2;
      margin-top: -110px;
      @media (max-width: 1230px) {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .container {
        display: flex;
        justify-content: space-between;
        .done-bot-left {
          @media (max-width: 1450px) {
            grid-template-columns: 400px auto;
          }
          @media (max-width: 1230px) {
            display: none;
          }
          display: grid;
          grid-template-columns: 450px auto;
          grid-template-rows: 1fr 1fr;
          align-items: center;
          p {
            grid-row: span 2;
            color: #ffffff;
            font-family: "TT Norms";
            font-size: 30px;
            font-weight: 500;
            max-width: 400px;
          }
          span {
            justify-self: end;
            align-self: start;
            color: #ffffff;
            font-family: "TT Norms";
            font-size: 14px;
            font-weight: 400;
            &:hover {
              cursor: pointer;
              color: $grey-color;
            }
          }
          .done-left-more {
            height: 100%;
            display: flex;
            align-items: center;
            span {
              margin-right: 15px;
              align-self: center;
              color: #ffffff;
              font-family: "TT Norms";
              font-size: 16px;
              font-weight: 800;
              text-transform: uppercase;
            }
            &:hover {
              cursor: pointer;
              span {
                color: $grey-color;
              }
            }
          }
        }
        .done-bot-right {
          span {
            color: #ffffff;
            font-family: "TT Norms";
            font-size: 30px;
            font-weight: 800;
            &:hover {
              cursor: pointer;
              color: $orange-color;
              @media (max-width: 950px) {
                color: white;
              }
            }
            @media (max-width: 950px) {
              font-size: 20px;
              font-weight: 700;
              text-transform: uppercase;
            }
            @media (max-width: 400px) {
              font-size: 14px;
            }
          }
          @media (max-width: 1230px) {
            margin: 0px auto;
          }
          @media (max-width: 950px) {
            background-color: $orange-color;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            padding: 10px 25px;
            border-radius: 25px;
            &:hover {
              background-color: $orange-hover;
              cursor: pointer;
            }
            &:active {
              background-color: $orange-press;
            }
          }
          
        }
      }
    }
  }
}