* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.btn-active {
  background-color: #d14e0c !important;
}

html,
body {
  height: 100%;
}

body {
  font: 100% TT Norms, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 15px;
  }
}

.g-btn {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #e6540a;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#footer {
  background-color: #2b2b2b;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 730px) {
  #footer {
    display: none;
  }
}

#footer .footer-main-info {
  padding-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
      grid-template-columns: auto auto 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  #footer .footer-main-info {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

@media (max-width: 550px) {
  #footer .footer-main-info {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
}

#footer .footer-main-info #footer-logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 550px) {
  #footer .footer-main-info #footer-logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

#footer .footer-main-info #footer-call {
  -ms-grid-column-align: end;
      justify-self: end;
  color: white;
  margin-right: 100px;
}

@media (max-width: 1280px) {
  #footer .footer-main-info #footer-call {
    margin-right: 0px;
  }
}

@media (max-width: 550px) {
  #footer .footer-main-info #footer-call {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

#footer .footer-main-info #footer-call div {
  width: 146px;
  height: 36px;
  border-radius: 18px;
}

#footer .footer-main-info #footer-call div span {
  font-family: "Futura PT Book";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

#footer .footer-main-info #footer-nav {
  max-width: 882px;
}

@media (max-width: 1280px) {
  #footer .footer-main-info #footer-nav {
    grid-column: span 2;
  }
}

@media (max-width: 550px) {
  #footer .footer-main-info #footer-nav {
    grid-column: span 1;
  }
}

#footer .footer-main-info #footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 730px) {
  #footer .footer-main-info #footer-nav ul {
    display: block;
    width: 150px;
    margin: 0px auto;
  }
}

#footer .footer-main-info #footer-nav ul li {
  display: block;
  font-weight: 400;
}

#footer .footer-main-info #footer-nav ul li a {
  font-family: "TT Norms";
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media (max-width: 730px) {
  #footer .footer-main-info #footer-nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
}

#footer .footer-main-info #footer-nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#footer .footer-main-info #footer-nav ul li a:hover::after {
  width: 100%;
}

#footer .footer-contacts {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 760px) {
  #footer .footer-contacts {
    display: block;
    width: 100%;
  }
}

#footer .footer-contacts .footer-contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 760px) {
  #footer .footer-contacts .footer-contacts-social {
    margin: 0px auto;
    width: 500px;
  }
}

@media (max-width: 550px) {
  #footer .footer-contacts .footer-contacts-social {
    width: 100%;
  }
}

#footer .footer-contacts .footer-contacts-social .footer-contacts-social-item {
  display: inline-block;
  height: 21px;
  padding-right: 25px;
  margin-right: 15px;
  border-right: 1px solid white;
}

#footer .footer-contacts .footer-contacts-social .footer-contacts-social-item:last-child {
  margin-right: 15px;
  padding-right: 0px;
  border-right: 1px solid rgba(255, 255, 255, 0);
}

@media (max-width: 470px) {
  #footer .footer-contacts .footer-contacts-social .footer-contacts-social-item {
    margin-right: 10px;
  }
}

#footer .footer-contacts .footer-contacts-social .footer-contacts-social-item a {
  color: #ffffff;
  font-family: "Futura PT Book";
  font-size: 16px;
  font-weight: 300;
}

#footer .footer-contacts .footer-contacts-social .footer-contacts-social-item a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#footer .footer-contacts .footer-contacts-social .footer-contacts-social-item a:hover::after {
  width: 100%;
}

@media (max-width: 760px) {
  #footer .footer-contacts .footer-contacts-tel {
    display: inline-block;
    padding-top: 15px;
  }
}

#footer .footer-contacts .footer-contacts-tel a {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 400px) {
  #footer .footer-contacts .footer-contacts-tel a {
    font-size: 24px;
  }
}

#footer .footer-contacts .footer-contacts-tel::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#footer .footer-contacts .footer-contacts-tel:hover::after {
  width: 100%;
}

#footer .footer-adress {
  margin-top: 25px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-adress .footer-adress-disclaimer {
  width: 650px;
  color: #ffffff4f;
  font-family: "TT Norms";
  font-size: 11px;
  font-weight: 400;
  line-height: 20.92px;
  padding-right: 15px;
}

@media (max-width: 400px) {
  #footer .footer-adress .footer-adress-disclaimer {
    font-size: 10px;
  }
}

#footer .footer-adress .footer-adress-disclaimer a {
  color: #ffffff;
}

#footer .footer-adress .footer-adress-adress {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 400px) {
  #footer .footer-adress .footer-adress-adress {
    font-size: 14px;
  }
}

#m-footer {
  display: none;
  background-color: #2b2b2b;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 730px) {
  #m-footer {
    display: block;
  }
}

@media (max-width: 730px) {
  #m-footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[7];
        grid-template-rows: repeat(7, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

#m-footer #footer-logo {
  padding-top: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 550px) {
  #m-footer #footer-logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

#m-footer #footer-call {
  margin-top: 30px;
  color: white;
}

@media (max-width: 550px) {
  #m-footer #footer-call {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

#m-footer #footer-call div {
  width: 146px;
  height: 36px;
  border-radius: 18px;
}

#m-footer #footer-call div span {
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

#m-footer #footer-nav {
  margin-top: 40px;
  max-width: 882px;
}

@media (max-width: 550px) {
  #m-footer #footer-nav {
    grid-column: span 1;
  }
}

#m-footer #footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 730px) {
  #m-footer #footer-nav ul {
    display: block;
    width: 150px;
    margin: 0px auto;
  }
}

#m-footer #footer-nav ul li {
  display: block;
  font-weight: 400;
}

#m-footer #footer-nav ul li a {
  font-family: "TT Norms";
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media (max-width: 730px) {
  #m-footer #footer-nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
}

#m-footer #footer-nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#m-footer #footer-nav ul li a:hover::after {
  width: 100%;
}

#m-footer .footer-contacts-social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 550px) {
  #m-footer .footer-contacts-social {
    width: 100%;
  }
}

#m-footer .footer-contacts-social .footer-contacts-social-item {
  display: inline-block;
  height: 21px;
  padding-right: 25px;
  margin-right: 15px;
  border-right: 1px solid white;
}

#m-footer .footer-contacts-social .footer-contacts-social-item:last-child {
  margin-right: 15px;
  padding-right: 0px;
  border-right: 1px solid rgba(255, 255, 255, 0);
}

@media (max-width: 470px) {
  #m-footer .footer-contacts-social .footer-contacts-social-item {
    margin-right: 10px;
  }
}

#m-footer .footer-contacts-social .footer-contacts-social-item a {
  color: #ffffff;
  font-family: "Futura PT Book";
  font-size: 16px;
  font-weight: 300;
}

#m-footer .footer-contacts-social .footer-contacts-social-item a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#m-footer .footer-contacts-social .footer-contacts-social-item a:hover::after {
  width: 100%;
}

#m-footer .footer-contacts-tel {
  margin-top: 35px;
}

#m-footer .footer-contacts-tel a {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 400px) {
  #m-footer .footer-contacts-tel a {
    font-size: 24px;
  }
}

#m-footer .footer-contacts-tel::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#m-footer .footer-contacts-tel:hover::after {
  width: 100%;
}

#m-footer .footer-adress-disclaimer {
  padding-bottom: 25px;
  color: #ffffff4f;
  font-family: "TT Norms";
  font-size: 11px;
  font-weight: 400;
  line-height: 20.92px;
  padding-right: 15px;
}

@media (max-width: 400px) {
  #m-footer .footer-adress-disclaimer {
    font-size: 10px;
  }
}

#m-footer .footer-adress-disclaimer a {
  color: #ffffff;
}

#m-footer .footer-adress-adress {
  margin-top: 15px;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 400px) {
  #m-footer .footer-adress-adress {
    font-size: 14px;
    width: 270px;
  }
}
/*# sourceMappingURL=footer.css.map */