* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.btn-active {
  background-color: #d14e0c !important;
}

html,
body {
  height: 100%;
}

body {
  font: 100% TT Norms, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 15px;
  }
}

.g-btn {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #e6540a;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#first-screen #header {
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 400px) {
  #first-screen #header {
    height: 80px;
  }
}

#first-screen #header #h-logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1450px) {
  #first-screen #header #h-logo img {
    width: 200px;
  }
}

@media (max-width: 560px) {
  #first-screen #header #h-logo img {
    width: 120px;
  }
}

#first-screen #header #h-nav {
  width: 623px;
}

@media (max-width: 1450px) {
  #first-screen #header #h-nav {
    width: 580px;
  }
}

@media (max-width: 1250px) {
  #first-screen #header #h-nav {
    display: none;
  }
}

#first-screen #header #h-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#first-screen #header #h-nav ul li {
  display: block;
  display: inline-block;
  font-weight: 400;
}

#first-screen #header #h-nav ul li a {
  font-family: "TT Norms";
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

#first-screen #header #h-nav ul li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#first-screen #header #h-nav ul li:hover::after {
  width: 100%;
}

#first-screen #header #h-line {
  border-left: 1px solid #e6540a;
  height: 34px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1250px) {
  #first-screen #header #h-line {
    display: none;
  }
}

@media (max-width: 992px) {
  #first-screen #header #h-contact {
    margin-left: 15%;
  }
}

@media (max-width: 560px) {
  #first-screen #header #h-contact {
    margin-left: 0px;
  }
}

#first-screen #header #h-contact a {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 1250px) {
  #first-screen #header #h-contact a {
    font-size: 24px;
  }
}

@media (max-width: 560px) {
  #first-screen #header #h-contact a {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  #first-screen #header #h-contact a {
    font-size: 16px;
  }
}

#first-screen #header #h-contact a span {
  font-weight: 700;
}

#first-screen #header #h-contact a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#first-screen #header #h-contact a:hover::after {
  width: 100%;
}

#first-screen #header #h-call {
  color: white;
}

@media (max-width: 1250px) {
  #first-screen #header #h-call {
    margin-left: 20%;
  }
}

@media (max-width: 992px) {
  #first-screen #header #h-call {
    display: none;
  }
}

#first-screen #header #h-call div {
  width: 146px;
  height: 36px;
  border-radius: 25px;
}

@media (max-width: 1250px) {
  #first-screen #header #h-call div {
    width: 186px;
    height: 40px;
  }
}

#first-screen #header #h-call div span {
  font-family: "Futura PT Book";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media (max-width: 1250px) {
  #first-screen #header #h-call div span {
    font-size: 18px;
  }
}

#first-screen #header #h-menu {
  color: white;
}

#first-screen #header #h-menu span {
  font-weight: bold;
  padding-right: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 62.62px;
}

@media (max-width: 1250px) {
  #first-screen #header #h-menu span {
    font-size: 24px;
  }
}

@media (max-width: 720px) {
  #first-screen #header #h-menu span {
    display: none;
  }
}

#first-screen #header #h-menu:hover {
  cursor: pointer;
  color: #efefef;
}

#first-screen #header #h-menu .mobile {
  display: none;
  width: 40px;
}

@media (max-width: 720px) {
  #first-screen #header #h-menu .mobile {
    display: block;
  }
}

@media (max-width: 720px) {
  #first-screen #header #h-menu .desktop {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */