@font-face {
  font-family: 'Futura PT Book';
  src: url("FuturaPT-Book.woff2") format("woff2"), url("FuturaPT-Book.woff") format("woff"), url("FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("Circe-ExtraBold.woff2") format("woff2"), url("Circe-ExtraBold.woff") format("woff"), url("Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("Circe-Regular.woff2") format("woff2"), url("Circe-Regular.woff") format("woff"), url("Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Black.woff2") format("woff2"), url("TTNorms-Black.woff") format("woff"), url("TTNorms-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ExtraLight.woff2") format("woff2"), url("TTNorms-ExtraLight.woff") format("woff"), url("TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ExtraBold.woff2") format("woff2"), url("TTNorms-ExtraBold.woff") format("woff"), url("TTNorms-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-BlackItalic.woff2") format("woff2"), url("TTNorms-BlackItalic.woff") format("woff"), url("TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Bold.woff2") format("woff2"), url("TTNorms-Bold.woff") format("woff"), url("TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ExtraBoldItalic.woff2") format("woff2"), url("TTNorms-ExtraBoldItalic.woff") format("woff"), url("TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-BoldItalic.woff2") format("woff2"), url("TTNorms-BoldItalic.woff") format("woff"), url("TTNorms-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-LightItalic.woff2") format("woff2"), url("TTNorms-LightItalic.woff") format("woff"), url("TTNorms-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Heavy.woff2") format("woff2"), url("TTNorms-Heavy.woff") format("woff"), url("TTNorms-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Italic.woff2") format("woff2"), url("TTNorms-Italic.woff") format("woff"), url("TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Light.woff2") format("woff2"), url("TTNorms-Light.woff") format("woff"), url("TTNorms-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-HeavyItalic.woff2") format("woff2"), url("TTNorms-HeavyItalic.woff") format("woff"), url("TTNorms-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ExtraLightItalic.woff2") format("woff2"), url("TTNorms-ExtraLightItalic.woff") format("woff"), url("TTNorms-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Medium.woff2") format("woff2"), url("TTNorms-Medium.woff") format("woff"), url("TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-MediumItalic.woff2") format("woff2"), url("TTNorms-MediumItalic.woff") format("woff"), url("TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Regular.woff2") format("woff2"), url("TTNorms-Regular.woff") format("woff"), url("TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Thin.woff2") format("woff2"), url("TTNorms-Thin.woff") format("woff"), url("TTNorms-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ThinItalic.woff2") format("woff2"), url("TTNorms-ThinItalic.woff") format("woff"), url("TTNorms-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
}

/* always display scrollbars */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.btn-active {
  background-color: #d14e0c !important;
}

body {
  font: 100% TT Norms, sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 5px;
  }
}

.g-btn {
  background-color: #e6540a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #da500c;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#first-screen #header {
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 400px) {
  #first-screen #header {
    height: 80px;
  }
}

#first-screen #header #h-logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1450px) {
  #first-screen #header #h-logo img {
    width: 200px;
  }
}

@media (max-width: 560px) {
  #first-screen #header #h-logo img {
    width: 120px;
  }
}

#first-screen #header #h-nav {
  width: 623px;
}

@media (max-width: 1450px) {
  #first-screen #header #h-nav {
    width: 580px;
  }
}

@media (max-width: 1250px) {
  #first-screen #header #h-nav {
    display: none;
  }
}

#first-screen #header #h-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#first-screen #header #h-nav ul li {
  display: block;
  display: inline-block;
  font-weight: 400;
}

#first-screen #header #h-nav ul li a {
  font-family: "TT Norms";
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

#first-screen #header #h-nav ul li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#first-screen #header #h-nav ul li:hover::after {
  width: 100%;
}

#first-screen #header #h-line {
  border-left: 1px solid #e6540a;
  height: 34px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1250px) {
  #first-screen #header #h-line {
    display: none;
  }
}

@media (max-width: 992px) {
  #first-screen #header #h-contact {
    margin-left: 15%;
  }
}

@media (max-width: 560px) {
  #first-screen #header #h-contact {
    margin-left: 0px;
  }
}

#first-screen #header #h-contact a {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 1250px) {
  #first-screen #header #h-contact a {
    font-size: 24px;
  }
}

@media (max-width: 560px) {
  #first-screen #header #h-contact a {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  #first-screen #header #h-contact a {
    font-size: 16px;
  }
}

#first-screen #header #h-contact a span {
  font-weight: 700;
}

#first-screen #header #h-contact a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#first-screen #header #h-contact a:hover::after {
  width: 100%;
}

#first-screen #header #h-call {
  color: white;
}

@media (max-width: 1250px) {
  #first-screen #header #h-call {
    margin-left: 20%;
  }
}

@media (max-width: 992px) {
  #first-screen #header #h-call {
    display: none;
  }
}

#first-screen #header #h-call div {
  width: 146px;
  height: 36px;
  border-radius: 25px;
}

@media (max-width: 1250px) {
  #first-screen #header #h-call div {
    width: 186px;
    height: 40px;
  }
}

#first-screen #header #h-call div span {
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media (max-width: 1250px) {
  #first-screen #header #h-call div span {
    font-size: 18px;
  }
}

#first-screen #header #h-menu {
  color: white;
}

#first-screen #header #h-menu span {
  font-weight: bold;
  padding-right: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 62.62px;
}

@media (max-width: 1250px) {
  #first-screen #header #h-menu span {
    font-size: 24px;
  }
}

@media (max-width: 720px) {
  #first-screen #header #h-menu span {
    display: none;
  }
}

#first-screen #header #h-menu:hover {
  cursor: pointer;
  color: #efefef;
}

#first-screen #header #h-menu .mobile {
  display: none;
  width: 40px;
}

@media (max-width: 720px) {
  #first-screen #header #h-menu .mobile {
    display: block;
  }
}

@media (max-width: 720px) {
  #first-screen #header #h-menu .desktop {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */