@import "_init.scss";

#first-screen {
  #header {
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 400px) {
      height: 80px;
    }
    #h-logo {
      user-select: none;
      @media (max-width: 1450px) {
        img {
          width: 200px;
        }
      }
      @media (max-width: 560px) {
        img {
          width: 120px;
        }
      }
    }
    #h-nav {
      width: 623px;
      @media (max-width: 1450px) {
        width: 580px;
      }
      @media (max-width:1250px) {
        display: none;
      }
      ul {
        display: flex;
        justify-content: space-between;
        li {
          display: block;
          display: inline-block;
          font-weight: 400;
          a {
            font-family: "TT Norms";
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
          }
          &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: white;
            transition: width .3s;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
    #h-line {
      @media (max-width: 1250px) {
        display: none;
      }
      border-left: 1px solid $orange-color;
      height: 34px;
      user-select: none;
    }
    #h-contact {
      @media (max-width: 992px) {
        margin-left: 15%;
      }
      @media (max-width: 560px) {
        margin-left: 0px;
      }
      a {
        @media (max-width: 1250px) {
          font-size: 24px;
        }
        @media (max-width: 560px) {
          font-size: 18px;
        }
        @media (max-width: 400px) {
          font-size: 16px;
        }
        color: white;
        font-weight: 400;
        font-size: 18px;
        span {
          font-weight: 700;
        }
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: white;
          transition: width .3s;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    #h-call {
      @media (max-width: 1250px) {
        margin-left: 20%;
      }
      @media (max-width: 992px) {
        display: none;
      }
      color: white;
      div {
        @media (max-width: 1250px) {
          width: 186px;
          height: 40px;
        }
        width: 146px;
        height: 36px;
        border-radius: 25px;
        span {
          @media (max-width: 1250px) {
            font-size: 18px;
          }
          font-family: "Futura PT Book";
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: center;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
        }
      }
    }
    #h-menu {
      color: white;
      span {
        @media (max-width: 1250px) {
          font-size: 24px;
        }
        @media (max-width: 720px) {
          display: none;
        }
        font-weight: bold;
        padding-right: 10px;
        font-weight: 800;
        font-size: 16px;
        line-height: 62.62px;
      }
      &:hover {
        cursor: pointer;
        color: $grey-color;
      }
      .mobile {
        display: none;
        width: 40px;
        @media (max-width: 720px) {
          display: block;
        }
      }
      .desktop {
        @media (max-width: 720px) {
          display: none;
        }
      }
    }
  }
}