* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.btn-active {
  background-color: #d14e0c !important;
}

html,
body {
  height: 100%;
}

body {
  font: 100% TT Norms, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 15px;
  }
}

.g-btn {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #e6540a;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#modal-menu {
  display: none;
  position: fixed;
  top: 0px;
  height: 150vh;
  width: 100%;
  background-color: #2b2b2b;
  opacity: 0.97;
  z-index: 99999;
}

#modal-menu .m-container {
  padding-top: 150px;
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1300px) {
  #modal-menu .m-container {
    max-width: 100%;
    padding: 0px 50px;
    padding-top: 150px;
  }
}

@media (max-width: 900px) {
  #modal-menu .m-container {
    padding-top: 100px;
  }
}

@media (max-width: 500px) {
  #modal-menu .m-container {
    padding: 0px 15px;
    padding-top: 50px;
  }
}

@media (max-width: 400px) {
  #modal-menu .m-container {
    padding-top: 25px;
  }
}

#modal-menu .m-container .m-menu-nav {
  padding-bottom: 50px;
}

#modal-menu .m-container .m-menu-nav ul .m-open-ul::after {
  display: inline-block;
  vertical-align: top;
  font-family: "LineIcons";
  content: "\ea5c";
  font-weight: 100;
  font-size: 28px;
  color: #e6540a;
  margin-left: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 610px) {
  #modal-menu .m-container .m-menu-nav ul .m-open-ul::after {
    font-size: 20px;
    vertical-align: baseline;
  }
}

@media (max-width: 400px) {
  #modal-menu .m-container .m-menu-nav ul .m-open-ul::after {
    font-size: 14px;
    margin-left: 10px;
    vertical-align: inherit;
  }
}

#modal-menu .m-container .m-menu-nav ul .m-a-is-active::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#modal-menu .m-container .m-menu-nav ul li #m-ul {
  display: none;
  padding-left: 50px;
}

@media (max-width: 500px) {
  #modal-menu .m-container .m-menu-nav ul li #m-ul {
    padding-left: 25px;
  }
}

#modal-menu .m-container .m-menu-nav ul li #m-ul a {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 610px) {
  #modal-menu .m-container .m-menu-nav ul li #m-ul a {
    font-size: 20px;
    line-height: 10px;
  }
}

@media (max-width: 400px) {
  #modal-menu .m-container .m-menu-nav ul li #m-ul a {
    font-size: 16px;
    line-height: 0px;
  }
}

#modal-menu .m-container .m-menu-nav ul li #m-ul a:hover {
  color: #e6540a;
}

#modal-menu .m-container .m-menu-nav ul li a {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 610px) {
  #modal-menu .m-container .m-menu-nav ul li a {
    font-size: 22px;
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  #modal-menu .m-container .m-menu-nav ul li a {
    font-size: 18px;
    line-height: 0px;
  }
}

#modal-menu .m-container .m-menu-nav ul li a:hover {
  color: #e6540a;
}

#modal-menu .m-container .m-menu-nav ul li::before {
  vertical-align: text-bottom;
  content: "|";
  font-size: 36px;
  font-weight: 400;
  color: #e6540a;
  padding-right: 10px;
}

@media (max-width: 610px) {
  #modal-menu .m-container .m-menu-nav ul li::before {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  #modal-menu .m-container .m-menu-nav ul li::before {
    font-size: 22px;
  }
}

#modal-menu .m-container .m-menu-close {
  height: 100%;
  font-size: 30px;
  color: white;
}

#modal-menu .m-container .m-menu-close:hover {
  color: #e6540a;
  cursor: pointer;
}
/*# sourceMappingURL=menu.css.map */