* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
}

/* always display scrollbars */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.btn-active {
  background-color: #d14e0c !important;
}

body {
  font: 100% TT Norms, sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 5px;
  }
}

.g-btn {
  background-color: #e6540a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #da500c;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#our-offer {
  background: #2b2b2b;
  min-height: 518px;
  color: white;
  font-size: 42px;
}

#our-offer .slick-dots {
  bottom: -60px;
}

#our-offer .slick-dots li button:before {
  color: white;
}

#our-offer .slick-dots li.slick-active button {
  border: 2px solid white;
  border-radius: 20px;
}

#our-offer .of-container {
  max-width: 1630px;
  margin: 0px auto;
}

#our-offer #of-bg {
  width: 1630px;
  position: absolute;
  height: 518px;
  background-color: rgba(0, 0, 0, 0.39);
}

#our-offer #of-bg p {
  padding-top: 46px;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 425px) {
  #our-offer #of-bg p {
    padding-top: 0px;
  }
}

#our-offer #of-bg p span {
  font-size: 24px;
}

@media (max-width: 950px) {
  #our-offer #of-bg p span {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  #our-offer #of-bg p span {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  #our-offer #of-bg p {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  #our-offer #of-bg p {
    font-size: 18px;
  }
}

#our-offer #of-slider-mobile {
  padding-top: 160px;
  display: none;
}

@media (max-width: 425px) {
  #our-offer #of-slider-mobile {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: (180px)[4];
        grid-template-rows: repeat(4, 180px);
    row-gap: 10px;
  }
}

#our-offer #of-slider-mobile .of-slide-mobile {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
}

#our-offer #of-slider-mobile .of-slide-mobile .of-slide-text-mobile {
  position: relative;
  bottom: 0px;
  height: 60px;
  background-color: white;
  opacity: 0.9;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding-left: 47px;
  overflow: hidden;
}

#our-offer #of-slider-mobile .of-slide-mobile .of-slide-text-mobile img {
  display: inline;
  padding-top: 13px;
}

#our-offer #of-slider-mobile .of-slide-mobile .of-slide-text-mobile span {
  padding-left: 18px;
  color: #000000;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

#our-offer #of-slider-mobile .of-slide-mobile .of-slide-text-mobile p {
  overflow: hidden;
  color: #000000;
  font-family: "TT Norms";
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  width: 80%;
}

#our-offer #of-slider-mobile .of-slide-mobile .of-slide-text-mobile:hover {
  height: 125px;
}

#our-offer #of-slider {
  padding-top: 155px;
  margin: 0px auto;
}

@media (max-width: 425px) {
  #our-offer #of-slider {
    display: none;
  }
}

#our-offer #of-slider .of-slide {
  height: 269px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

#our-offer #of-slider .of-slide .of-slide-text {
  position: absolute;
  bottom: 0px;
  width: 350px;
  height: 73px;
  background-color: white;
  opacity: 0.9;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding-left: 47px;
}

#our-offer #of-slider .of-slide .of-slide-text img {
  display: inline;
  padding-top: 23px;
}

#our-offer #of-slider .of-slide .of-slide-text span {
  padding-left: 18px;
  color: #000000;
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

#our-offer #of-slider .of-slide .of-slide-text p {
  color: #000000;
  font-family: "TT Norms";
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-top: 25px;
}

#our-offer #of-slider .of-slide .of-slide-text:hover {
  height: 165px;
}

@media (max-width: 1650px) {
  #our-offer #of-slider {
    max-width: 1378px;
  }
  #our-offer .of-container {
    max-width: 98%;
  }
  #our-offer .of-container #of-bg {
    width: 98%;
  }
}

@media (max-width: 1250px) {
  #our-offer #of-slider {
    max-width: 900px;
  }
}

@media (max-width: 830px) {
  #our-offer #of-slider {
    max-width: 460px;
  }
}

@media (max-width: 425px) {
  #our-offer .of-container #of-bg {
    background-color: rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=offer.css.map */