@font-face {
  font-family: 'FuturaPT';
  src: url("fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
}

/* always display scrollbars */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

body {
  font: 100% TT Norms;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

.g-btn {
  background-color: #e6540a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #da500c;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#our-offer {
  background: #2b2b2b;
  min-height: 518px;
  color: white;
  font-size: 42px;
}

#our-offer .slick-dots {
  bottom: -60px;
}

#our-offer .slick-dots li button:before {
  color: white;
}

#our-offer .slick-dots li.slick-active button {
  border: 2px solid white;
  border-radius: 20px;
}

#our-offer .of-container {
  max-width: 1650px;
  margin: 0px auto;
}

#our-offer #of-bg {
  width: 100%;
  position: absolute;
  height: 518px;
  background-color: rgba(0, 0, 0, 0.39);
}

#our-offer #of-bg p {
  padding-top: 46px;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

#our-offer #of-bg p span {
  font-size: 24px;
}

#our-offer #of-slider {
  padding-top: 155px;
  margin-left: 5px;
}

#our-offer #of-slider .of-slide {
  height: 269px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

#our-offer #of-slider .of-slide .of-slide-text {
  position: absolute;
  bottom: 0px;
  width: 350px;
  height: 73px;
  background-color: white;
  opacity: 0.9;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding-left: 48px;
}

#our-offer #of-slider .of-slide .of-slide-text img {
  display: inline;
  padding-top: 23px;
}

#our-offer #of-slider .of-slide .of-slide-text span {
  padding-left: 18px;
  color: #000000;
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

#our-offer #of-slider .of-slide .of-slide-text p {
  color: #000000;
  font-family: "TT Norms";
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-top: 25px;
}

#our-offer #of-slider .of-slide .of-slide-text:hover {
  height: 165px;
}
/*# sourceMappingURL=offer.css.map */