@import "_init.scss";

#our-offer {
  background: $bg-color;
  min-height: 518px;
  color: white;
  font-size: 42px;
  .slick-dots {
    bottom: -60px;
    li button:before {
      color: white;
    }
    li.slick-active button {
      border: 2px solid white;
      border-radius: 20px;
    }
  }
  .of-container {
    max-width: 1630px;
    margin: 0px auto;
  }
  #of-bg {
    width: 1630px;
    position: absolute;
    height: 518px;
    background-color: rgba(0, 0, 0, 0.39);
    p {
      padding-top: 46px;
      font-family: "TT Norms";
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
      text-align: left;
      text-transform: uppercase;
      color: #ffffff;
      @media (max-width: 425px) {
        padding-top: 0px;
      }
      span {
        font-size: 24px;
        @media (max-width: 950px) {
          font-size: 18px;
        }
        @media (max-width: 500px) {
          font-size: 16px;
        }
      }
      @media (max-width: 950px) {
        font-size: 24px;
      }
      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
  }
  #of-slider-mobile {
    padding-top: 160px;
    display: none;
    @media (max-width: 425px) {
      display: grid;
      width: 100%;
      grid-template-rows: repeat(4, 180px);
      row-gap: 10px;
    }
    .of-slide-mobile {
      height: 180px;
      background-repeat: no-repeat;
      background-position: center center;
      .of-slide-text-mobile {
        position: relative;
        bottom: 0px;
        height: 60px;
        background-color: white;
        opacity: 0.9;
        transition: 0.3s ease-out;
        padding-left: 47px;
        overflow: hidden;
        img {
          display: inline;
          padding-top: 13px;
        }
        span {
          padding-left: 18px;
          color: #000000;
          font-family: "TT Norms";
          font-size: 16px;
          font-weight: 400;
          text-align: left;
        }
        p {
          overflow: hidden;
          color: #000000;
          font-family: "TT Norms";
          font-size: 10px;
          font-weight: 400;
          text-align: left;
          margin-top: 10px;
          width: 80%;
        }
        &:hover {
          height: 125px;
        }
      }  
    }
  }
  #of-slider {
    padding-top: 155px;
    margin: 0px auto;
    @media (max-width: 425px) {
      display: none;
    }
    .of-slide {
      height: 269px;
      margin-right: 10px; 
      background-repeat: no-repeat;
      .of-slide-text {
        position: absolute;
        bottom: 0px;
        width: 350px;
        height: 73px;
        background-color: white;
        opacity: 0.9;
        transition: 0.3s ease-out;
        padding-left: 47px;
        img {
          display: inline;
          padding-top: 23px;
        }
        span {
          padding-left: 18px;
          color: #000000;
          font-family: "TT Norms";
          font-size: 24px;
          font-weight: 400;
          text-align: left;
        }
        p {
          color: #000000;
          font-family: "TT Norms";
          font-size: 13px;
          font-weight: 400;
          text-align: left;
          margin-top: 25px;
        }
        &:hover {
          height: 165px;
        }
      }
    }
  }
  @media (max-width: 1650px) {
    #of-slider {
      max-width: 1378px;
    }
    .of-container {
      max-width: 98%;
      #of-bg {
        width: 98%;
      }
    }
  }
  @media (max-width: 1250px) {
    #of-slider {
      max-width: 900px;
    }
  }
  @media (max-width: 830px) {
    #of-slider {
      max-width: 460px;
    }
  }
  @media (max-width: 425px) {
    .of-container {
      #of-bg {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}