@font-face {
  font-family: 'FuturaPT';
  src: url("fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
}

/* always display scrollbars */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

body {
  font: 100% TT Norms;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 5px;
  }
}

.g-btn {
  background-color: #e6540a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #da500c;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#reviews {
  min-height: 520px;
  background-color: #efefef;
}

#reviews .slick-dots {
  bottom: 10px;
}

#reviews .slick-dots li button:before {
  color: black;
}

#reviews .slick-dots li.slick-active button {
  border: 2px solid black;
  border-radius: 20px;
}

@media (max-width: 620px) {
  #reviews .slick-dots {
    top: 150px;
    height: 40px;
  }
}

#reviews .reviews-maintext {
  max-width: 1150px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: #000000;
  font-family: "TT Norms";
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  font-size: 36px;
  text-transform: uppercase;
}

@media (max-width: 950px) {
  #reviews .reviews-maintext {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

#reviews .reviews-maintext span {
  font-size: 24px;
  line-height: normal;
  text-transform: none;
}

@media (max-width: 950px) {
  #reviews .reviews-maintext span {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  #reviews .reviews-maintext span {
    font-size: 16px;
  }
}

@media (max-width: 1130px) {
  #reviews .reviews-maintext {
    font-size: 34px;
  }
}

@media (max-width: 950px) {
  #reviews .reviews-maintext {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  #reviews .reviews-maintext {
    font-size: 18px;
    line-height: 24px;
  }
}

#reviews .reviews-slider-slick .rev-slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 146px auto;
      grid-template-columns: 146px auto;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

@media (max-width: 620px) {
  #reviews .reviews-slider-slick .rev-slide {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

@media (max-width: 620px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-avatar {
    margin: 0px auto;
    margin-bottom: 60px;
  }
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text {
  padding-top: 45px;
}

@media (max-width: 950px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text {
    padding-top: 0px;
  }
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-name {
  color: #000000;
  font-family: "TT Norms";
  font-weight: 400;
  text-align: left;
  font-size: 24px;
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-name span {
  font-size: 16px;
}

@media (max-width: 440px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-name {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-name {
    font-size: 16px;
  }
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-works {
  margin-top: 15px;
  font-family: "TT Norms";
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-works span {
  color: #e6540a;
}

@media (max-width: 440px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-works {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-works {
    font-size: 14px;
  }
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-maintext {
  margin-top: 30px;
  color: #000000;
  font-family: "TT Norms";
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 440px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-maintext {
    font-size: 14px;
  }
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-bottom: 45px;
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs .rev-proof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs img {
  display: inline-block;
}

@media (max-width: 440px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs img {
    width: 30px;
  }
}

@media (max-width: 400px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs img {
    width: 25px;
  }
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs .rev-slide-proofs-p {
  padding-left: 20px;
  display: inline-block;
  color: #e6540a;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 440px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs .rev-slide-proofs-p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs .rev-slide-proofs-p {
    font-size: 10px;
  }
}

#reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs span {
  padding-left: 20px;
  color: #9b9b9b;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 440px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs span {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  #reviews .reviews-slider-slick .rev-slide .rev-slide-text .rev-slide-proofs span {
    font-size: 10px;
  }
}
/*# sourceMappingURL=reviews.css.map */