@import "_init.scss";

#reviews {
  min-height: 520px;
  background-color: $grey-color;
  @media (max-width: 620px) {
    background-color: #2b2b2b;
  }
  .slick-dots {
    bottom: 10px;
    li button:before {
      color: black;
    }
    li.slick-active button {
      border: 2px solid black;
      border-radius: 20px;
    }
    @media (max-width: 620px) {
      top: 150px;
      height: 40px;
      li.slick-active button {
        border: 2px solid white;
      }
      li button:before {
        color: white;
      }
    }
  }
  .reviews-maintext {
    max-width: 1150px;
    padding-top: 50px;
    padding-bottom: 25px;
    color: #000000;
    font-family: "TT Norms";
    font-weight: 400;
    .reviews-maintext-title {
      line-height: 36px;
      text-align: left;
      font-size: 36px;
      text-transform: uppercase;
      padding-bottom: 10px;
      @media (max-width: 950px) {
        font-size: 28px;
      }
      @media (max-width: 500px) {
        font-size: 24px;
        line-height: 28px;
      }
    }
    span {
      font-size: 24px;
      line-height: 8px;
      text-transform: none;
      @media (max-width: 950px) {
        font-size: 18px;
      }
      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
    @media (max-width: 1130px) {
      font-size: 34px;
    }
    @media (max-width: 950px) {
      font-size: 26px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (max-width: 620px) {
      color: #fff;
    }
  }
  .reviews-slider-slick {
    .rev-slide {
      display: grid;
      grid-template-columns: 146px auto;
      column-gap: 45px;
      @media (max-width: 620px) {
        grid-template-columns: auto;
        column-gap: 0px;
      }
      .rev-slide-avatar {
        @media (max-width: 620px) {
          margin: 0px auto;
          margin-bottom: 60px;
        }
      }
      .rev-slide-text {
        padding-top: 45px;
        display: grid;
        grid-template-rows: auto auto auto auto;
        @media (max-width: 950px) {
          padding-top: 0px;
        }
        .rev-slide-name {
          color: #000000;
          font-family: "TT Norms";
          font-weight: 400;
          text-align: left;
          font-size: 24px;
          span {
            font-size: 16px;
          }
          @media (max-width: 620px) {
            color: #fff;
          }
          @media (max-width: 440px) {
            font-size: 18px;
          }
          @media (max-width: 400px) {
            font-size: 16px;
          }
        }
        .rev-slide-works {
          margin-top: 15px;
          font-family: "TT Norms";
          font-size: 18px;
          font-weight: 800;
          color: #000000;
          span {
            color: #e6540a;
            a {
              color: #e6540a;
              &:hover {
                color: $orange-press;
              }
            }
          }
          @media (max-width: 620px) {
            color: #fff;
          }
          @media (max-width: 440px) {
            font-size: 16px;
          }
          @media (max-width: 400px) {
            font-size: 14px;
          }
        }
        .rev-slide-maintext {
          margin-top: 30px;
          color: #000000;
          font-family: "TT Norms";
          font-size: 18px;
          font-weight: 400;
          @media (max-width: 620px) {
            color: #fff;
            grid-row: 4;
            margin-bottom: 40px;
          }
          @media (max-width: 440px) {
            font-size: 14px;
          }
          @media (max-width: 400px) {
            line-height: 22px;
          }
          @media (max-width: 330px) {
            width: 290px;
          }
        }
        .rev-slide-proofs {
          display: flex;
          margin-top: 25px;
          margin-bottom: 45px;
          @media (max-width: 620px) {
            grid-row: 3;
            margin-bottom: 0px;
          }
          @media (max-width: 500px) {
            display: block;
            margin-top: 0px;
          }
          .rev-proof {
            padding-right: 50px;
            @media (max-width: 500px) {
              padding-top: 20px;
              padding-right: 0px;
            }
            a {
              display: flex;
              align-items: center;
              &:hover {
                .rev-slide-proofs-p {
                  color: $orange-press;
                }
              }
            }
          }
          img {
            display: inline-block;
            @media (max-width: 440px) {
              width: 30px;
            }
            @media (max-width: 400px) {
              width: 25px;
            }
          }
          .rev-slide-proofs-p {
            padding-left: 20px;
            display: inline-block;
            color: #e6540a;
            font-family: "TT Norms";
            font-size: 16px;
            font-weight: 800;
            text-align: left;
            text-transform: uppercase;
          }
          span {
            padding-left: 20px;
            color: #9b9b9b;
            font-family: "TT Norms";
            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
            @media (max-width: 440px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}