* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.btn-active {
  background-color: #d14e0c !important;
}

html,
body {
  height: 100%;
}

body {
  font: 100% TT Norms, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 15px;
  }
}

.g-btn {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #e6540a;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#first-screen {
  background: url(../images/lists.png) no-repeat, url(../images/orange-lines.png) no-repeat, #2b2b2b;
  background-size: cover, cover;
  background-position: top center, top center;
}

#first-screen #s-slider .slick-dots {
  top: 521px;
  right: 570px;
}

#first-screen #s-slider .slick-dots li button:before {
  color: white;
}

#first-screen #s-slider .slick-dots li.slick-active button {
  border: 2px solid white;
  border-radius: 20px;
}

@media (max-width: 1450px) {
  #first-screen #s-slider .slick-dots {
    top: 450px;
    right: 470px;
  }
}

@media (max-width: 1250px) {
  #first-screen #s-slider .slick-dots {
    right: 320px;
  }
}

@media (max-width: 975px) {
  #first-screen #s-slider .slick-dots {
    top: 300px;
    right: 300px;
  }
}

@media (max-width: 890px) {
  #first-screen #s-slider .slick-dots {
    right: 0px;
    margin: 0px auto;
    top: 350px;
  }
}

@media (max-width: 750px) {
  #first-screen #s-slider .slick-dots {
    top: 530px;
    height: 40px;
  }
}

@media (max-width: 540px) {
  #first-screen #s-slider .slick-dots {
    top: 520px;
  }
}

@media (max-width: 530px) {
  #first-screen #s-slider .slick-dots {
    top: 490px;
  }
}

@media (max-width: 520px) {
  #first-screen #s-slider .slick-dots {
    top: 470px;
  }
}

@media (max-width: 490px) {
  #first-screen #s-slider .slick-dots {
    top: 450px;
  }
}

@media (max-width: 460px) {
  #first-screen #s-slider .slick-dots {
    top: 420px;
  }
}

@media (max-width: 420px) {
  #first-screen #s-slider .slick-dots {
    top: 390px;
  }
}

@media (max-width: 415px) {
  #first-screen #s-slider .slick-dots {
    top: 400px;
  }
}

@media (max-width: 405px) {
  #first-screen #s-slider .slick-dots {
    top: 400px;
  }
}

@media (max-width: 403px) {
  #first-screen #s-slider .slick-dots {
    top: 430px;
  }
}

@media (max-width: 400px) {
  #first-screen #s-slider .slick-dots {
    top: 370px;
  }
}

@media (max-width: 360px) {
  #first-screen #s-slider .slick-dots {
    top: 330px;
  }
}

#first-screen #s-slider .container {
  margin-top: 15px;
  margin-bottom: 25px;
}

@media (max-width: 1250px) {
  #first-screen #s-slider .container {
    margin-bottom: 75px;
  }
}

#first-screen #s-slider p {
  position: absolute;
  top: 87px;
  width: 640px;
  color: #ffffff;
  font-size: 60px;
  text-align: left;
  text-transform: uppercase;
  font-family: "TT Norms";
  font-weight: 400;
}

@media (max-width: 1250px) {
  #first-screen #s-slider p {
    font-size: 40px;
    padding-left: 0.1%;
  }
}

@media (max-width: 975px) {
  #first-screen #s-slider p {
    top: 50px;
  }
}

@media (max-width: 890px) {
  #first-screen #s-slider p {
    top: 0px;
  }
}

@media (max-width: 750px) {
  #first-screen #s-slider p {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 530px) {
  #first-screen #s-slider p {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  #first-screen #s-slider p {
    font-size: 24px;
  }
}

#first-screen #s-slider p span {
  color: #e6540a;
  font-weight: 700;
}

#first-screen #s-slider .g-btn {
  position: absolute;
  top: 358px;
  width: 266px;
  height: 53px;
  border-radius: 25px;
}

@media (max-width: 1250px) {
  #first-screen #s-slider .g-btn {
    margin-left: 0.1%;
  }
}

@media (max-width: 975px) {
  #first-screen #s-slider .g-btn {
    top: 225px;
  }
}

@media (max-width: 890px) {
  #first-screen #s-slider .g-btn {
    top: 250px;
  }
}

@media (max-width: 750px) {
  #first-screen #s-slider .g-btn {
    position: relative;
    top: 0px;
    margin: 0px auto;
    margin-top: 55px;
  }
}

#first-screen #s-slider .g-btn span {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

#first-screen #s-slider img {
  position: relative;
  margin-left: auto;
}

@media (max-width: 1450px) {
  #first-screen #s-slider img {
    width: 700px;
  }
}

@media (max-width: 1250px) {
  #first-screen #s-slider img {
    width: 600px;
    margin-right: 0.1%;
  }
}

@media (max-width: 975px) {
  #first-screen #s-slider img {
    width: 500px;
  }
}

@media (max-width: 890px) {
  #first-screen #s-slider img {
    margin-top: 50px;
    width: 400px;
  }
}

@media (max-width: 750px) {
  #first-screen #s-slider img {
    margin-right: auto;
    margin-top: 25px;
    width: 500px;
  }
}
/*# sourceMappingURL=slider.css.map */