@font-face {
  font-family: 'Futura PT Book';
  src: url("FuturaPT-Book.woff2") format("woff2"), url("FuturaPT-Book.woff") format("woff"), url("FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("Circe-ExtraBold.woff2") format("woff2"), url("Circe-ExtraBold.woff") format("woff"), url("Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url("Circe-Regular.woff2") format("woff2"), url("Circe-Regular.woff") format("woff"), url("Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Black.woff2") format("woff2"), url("TTNorms-Black.woff") format("woff"), url("TTNorms-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ExtraLight.woff2") format("woff2"), url("TTNorms-ExtraLight.woff") format("woff"), url("TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ExtraBold.woff2") format("woff2"), url("TTNorms-ExtraBold.woff") format("woff"), url("TTNorms-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-BlackItalic.woff2") format("woff2"), url("TTNorms-BlackItalic.woff") format("woff"), url("TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Bold.woff2") format("woff2"), url("TTNorms-Bold.woff") format("woff"), url("TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ExtraBoldItalic.woff2") format("woff2"), url("TTNorms-ExtraBoldItalic.woff") format("woff"), url("TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-BoldItalic.woff2") format("woff2"), url("TTNorms-BoldItalic.woff") format("woff"), url("TTNorms-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-LightItalic.woff2") format("woff2"), url("TTNorms-LightItalic.woff") format("woff"), url("TTNorms-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Heavy.woff2") format("woff2"), url("TTNorms-Heavy.woff") format("woff"), url("TTNorms-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Italic.woff2") format("woff2"), url("TTNorms-Italic.woff") format("woff"), url("TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Light.woff2") format("woff2"), url("TTNorms-Light.woff") format("woff"), url("TTNorms-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-HeavyItalic.woff2") format("woff2"), url("TTNorms-HeavyItalic.woff") format("woff"), url("TTNorms-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ExtraLightItalic.woff2") format("woff2"), url("TTNorms-ExtraLightItalic.woff") format("woff"), url("TTNorms-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Medium.woff2") format("woff2"), url("TTNorms-Medium.woff") format("woff"), url("TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-MediumItalic.woff2") format("woff2"), url("TTNorms-MediumItalic.woff") format("woff"), url("TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Regular.woff2") format("woff2"), url("TTNorms-Regular.woff") format("woff"), url("TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Thin.woff2") format("woff2"), url("TTNorms-Thin.woff") format("woff"), url("TTNorms-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-ThinItalic.woff2") format("woff2"), url("TTNorms-ThinItalic.woff") format("woff"), url("TTNorms-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
}

/* always display scrollbars */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.btn-active {
  background-color: #d14e0c !important;
}

body {
  font: 100% TT Norms, sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    padding: 0px 5px;
  }
}

.g-btn {
  background-color: #e6540a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.g-btn span {
  color: white;
}

.g-btn:hover {
  background-color: #da500c;
  cursor: pointer;
}

.g-btn:active {
  background-color: #d14e0c;
}

#variants {
  background-color: #fff;
}

#variants #variants-maintext {
  padding-top: 50px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 950px) {
  #variants #variants-maintext {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

#variants #variants-maintext .variants-maintext-name {
  color: #000;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 950px) {
  #variants #variants-maintext .variants-maintext-name {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  #variants #variants-maintext .variants-maintext-name {
    font-size: 18px;
  }
}

#variants #variants-maintext #variants-btns {
  display: inline-block;
  text-align: right;
}

@media (max-width: 1230px) {
  #variants #variants-maintext #variants-btns {
    display: none;
  }
}

#variants #variants-maintext #variants-btns .btn-active span {
  color: #fff;
}

#variants #variants-maintext #variants-btns div {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 20px;
  background-color: #efefef;
}

#variants #variants-maintext #variants-btns div span {
  color: #000;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

#variants #variants-maintext #variants-btns div:hover {
  background-color: #cfcfcf;
}

#variants #variants-maintext #variants-btns div:active {
  background-color: #e6540a;
}

#variants #variants-maintext #variants-btns div:active span {
  color: white;
}

#variants #variants-slider-id .slick-dots li button:before {
  color: black;
}

#variants #variants-slider-id .slick-dots li.slick-active button {
  border: 2px solid black;
  border-radius: 20px;
}

@media (max-width: 1450px) {
  #variants #variants-slider-id .slick-dots {
    bottom: -70px;
  }
}

@media (max-width: 1119px) {
  #variants .variants-slider-slick {
    max-width: 750px;
    margin: 0px auto;
  }
}

@media (max-width: 750px) {
  #variants .variants-slider-slick {
    max-width: 335px;
  }
}

#variants .variants-slider-slick .var-slider-img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media (max-width: 400px) {
  #variants .variants-slider-slick .var-slider-img {
    width: 95%;
  }
}

#variants .variants-slider-slick .var-slider-img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#variants .variants-slider-slick p {
  margin-top: 25px;
  width: 260px;
  color: #000000;
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 400px) {
  #variants .variants-slider-slick p {
    font-size: 18px;
  }
}

#variants .variants-slider-slick p:hover {
  color: #e6540a;
  cursor: pointer;
}

#variants .variants-slider-slick .var-price-sale {
  text-decoration: line-through;
}

#variants .variants-slider-slick .varinats-price {
  display: inline-block;
  margin-top: 15px;
  font-family: "TT Norms";
  font-size: 36px;
  font-weight: 800;
  text-align: left;
}

@media (max-width: 400px) {
  #variants .variants-slider-slick .varinats-price {
    font-size: 30px;
  }
}

#variants .variants-slider-slick .varinats-price:hover {
  color: #e6540a;
  cursor: pointer;
}

#variants .variants-slider-slick .variants-more {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#variants .variants-slider-slick .variants-more span {
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #000;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

#variants .variants-slider-slick .variants-more:hover {
  cursor: pointer;
}

#variants .variants-slider-slick .variants-more:hover span {
  color: #e6540a;
}

#variants .variants-watch-all {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 60px;
  color: #000000;
  font-family: "TT Norms";
  font-size: 30px;
  font-weight: 800;
}

@media (max-width: 950px) {
  #variants .variants-watch-all p {
    text-align: unset;
    display: none;
  }
}

#variants .variants-watch-all:hover {
  cursor: pointer;
  color: #e6540a;
}

#variants .variants-watch-all div {
  display: none;
  margin: 0px auto;
}

#variants .variants-watch-all div span {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  #variants .variants-watch-all div span {
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  #variants .variants-watch-all div {
    margin: 0px auto;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 10px 25px;
    border-radius: 25px;
  }
}

@media (max-width: 1450px) {
  #variants .variants-watch-all {
    margin-top: 80px;
  }
}

@media (max-width: 950px) {
  #variants .variants-watch-all {
    margin-top: 100px;
    margin-bottom: 25px;
  }
}
/*# sourceMappingURL=variants.css.map */