@import "_init.scss";

#variants {
  background-color: #fff;
  #variants-maintext {
    padding-top: 50px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    @media (max-width: 950px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .variants-maintext-name {
      color: #000;
      font-family: "TT Norms";
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
      text-align: left;
      text-transform: uppercase;
      @media (max-width: 950px) {
        font-size: 26px;
      }
    }
    #variants-btns {
      @media (max-width: 1230px) {
        display: none;
      }
      display: inline-block;
      text-align: right;
      .btn-active {
        span {
          color: #fff;
        }
      }
      div {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 20px;
        margin-left: 20px;
        background-color: $grey-color;
        span {
          color: #000;
          font-family: "TT Norms";
          font-size: 14px;
          font-weight: 400;
          text-align: center;
        }
        &:hover {
          background-color: #cfcfcf;
        }
        &:active {
          background-color: $orange-color;
          span {
            color: white;
          }
        }
      }
    }
  }
  .variants-slider {
    .slick-dots {
      li button:before {
        color: black;
      }
      li.slick-active button {
        border: 2px solid black;
        border-radius: 20px;
      }
      @media (max-width: 1450px) {
        bottom: -70px;
      }
      @media (max-width: 330px) {
        bottom: -50px;
      }
    }
  }
  .variants-slider-slick {
    @media (max-width: 1119px) {
      max-width: 750px;
      margin: 0px auto;
    }
    @media (max-width: 750px) {
      max-width: 335px;
    }
    .var-slider-img {
      filter: grayscale(100%);
      transition: 0.3s ease-out;
      @media (max-width: 400px) {
        width: 95%;
      }
    }
    p {
      margin-top: 25px;
      width: 260px;
      color: #000000;
      font-family: "TT Norms";
      font-size: 24px;
      font-weight: 500;
      @media (max-width: 400px) {
        font-size: 18px;
      }
    }
    .varinats-price {
      display: inline-block;
      margin-top: 15px;
      font-family: "TT Norms";
      color: #000;
      font-size: 36px;
      font-weight: 800;
      text-align: left;
      @media (max-width: 400px) {
        font-size: 30px;
      }
    }
    .var-price-sale {
      text-decoration: line-through;
      font-size: 32px;
      @media (max-width: 330px) {
        font-size: 24px;
      }
    }
    .alt {
      color: $orange-color;
      padding-left: 15px;
    }
    .variants-more {
      margin-top: 25px;
      display: flex;
      align-items: center;
      justify-content: start;
      span {
        margin-right: 15px;
        align-self: center;
        color: #000;
        font-family: "TT Norms";
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
      }
      img {
        transition: 0.3s;
      }
    }
    .var-slider-slide {
      &:hover {
        .var-slider-img {
          filter: grayscale(0%);
        }
        p {
          color: #e6540a;
          cursor: pointer;
        }
        .varinats-price {
          color: #e6540a;
          cursor: pointer;
        }
        .var-price-sale {
          color: black;
        }
        .variants-more {
          cursor: pointer;
          img {
            padding-left: 15px;
          }
          span {
            color: $orange-color;
          }
        }
      }
    }
  }
  .variants-watch-all {
    text-align: right;
    padding-top: 50px;
    margin-bottom: 60px;
    color: #000000;
    font-family: "TT Norms";
    font-size: 30px;
    font-weight: 800;
    p {
      color: black;
      a {
        color: black;
        &:hover {
          cursor: pointer;
          color: $orange-color;
        }
      }
      @media (max-width: 950px) {
        text-align: unset;
        display: none;
      }
      &:hover {
        // cursor: pointer;
        color: $orange-color;
      }
    }
    &:hover {
      // cursor: pointer;
      color: $orange-color;
    }
    .vars-a-mobile {
      display: none;
      @media (max-width: 950px) {
        margin: 0px auto;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        padding: 10px 25px;
        border-radius: 25px;
      }
    }
    div {
      display: none;
      margin: 0px auto;
      a {
        margin: 0px;
        padding: 0px;
      }
      span {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 400px) {
          font-size: 14px;
        }
      }
      @media (max-width: 950px) {
        margin: 0px auto;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        padding: 10px 25px;
        border-radius: 25px;
      }
      
    }
    @media (max-width: 1450px) {
      margin-top: 40px;
    }
    @media (max-width: 950px) {
      margin-top: 40px;
      margin-bottom: 25px;
    }
    @media (max-width: 330px) {
      margin-top: 10px;
    }
  }
}
